.people {

  &__header {
    text-align : center;
    padding: 5rem 0;
  }

  &__title {
    max-width  : 640px;
    margin     : 0 auto;
    font-size  : 3.438rem;
    line-height: 5rem;
  }

  &__subtitle {
    max-width  : 640px;
    margin     : 0 auto;
    font-size  : 1.125rem;
    line-height: 1.875rem;
    color      : $light-gray;
  }

  &__down {
    background-color: #C16300;
  }

  &__main-text {
    max-width : 858px;
    margin    : 0 auto;
    text-align: center;
    padding   : 4.188rem 0 5.5rem 0;
  }

  &__text {
    font-size  : 2.25rem;
    line-height: 3.25rem;
    color      : $white;
  }
}

@media screen and (min-width: 1200px) {

  .people__header {
    padding-top: 7rem;
  }

  .people__up {
    background-image   : url(../assets/people-section.png);
    background-repeat  : no-repeat;
    background-position: center;
    height             : 594px;
  }
}