$light-orange: #FFBA49;
$dark-orange: #FF890D;
$green: #70C217;
$white: #FFFFFF;
$sky-blue: #29AAF3;
$purple: #7854F7;
$light-gray: #94A2B3;
$dark-purple: #272D4E;
$dark: #000000;
$dark-gray: #4F5665;
$gray: #75818E;


