$light-orange: #ffba49;
$dark-orange: #ff890d;
$green: #70c217;
$light-green: #96d94e;
$white: #ffffff;
$sky-blue: #29aaf3;
$purple: #7854f7;
$light-gray: #94a2b3;
$dark-purple: #272d4e;
$dark: #000000;
$dark-gray: #4f5665;
$gray: #75818e;
