.main-section {
  background-color: $white;
  width: 100%;
  height: auto;
}

.main-section__container {
  max-width: 89.688rem;
  margin: 0 auto;
}

.main-section__title {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 4.375rem;
  text-align: center;
  color: $dark-purple;
}

.main-section__images {
  justify-content: center;
}

.main-section__payable {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: auto;
  height: auto;
}

.main-section__payable-cell {
  display: flex;
  max-width: 100%;
  width: auto;
  height: auto;
  overflow-y: hidden;
}

.main-section__apple {
  display: none;
}

.main-section__subtitle {
  border-radius: 1.25rem;
}

.main-section__paypal {
  display: none;
}

.main-section__main-subtitle {
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.375rem;
  color: $dark-purple;
}

.main-section__span {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: $light-gray;
}

.main-section__link {
  display: none;
}

.main-section__pictures {
  display: none;
}

.main-section__cellphone {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: auto;
  height: auto;
}

.main-section__cellphone-app {
  display: flex;
  max-width: 100%;
  width: auto;
  height: auto;
}

.main-section__developer {
  display: flex;
  justify-content: center;
  max-width: 100%;
  width: auto;
  height: auto;
}

.main-section__developer-code {
  display: flex;
  max-width: 100%;
  width: auto;
  height: auto;
}

@media screen and (min-width: 768px) {
  .main-section {
    background-color: $white;
    width: auto;
    height: auto;
  }

  .main-section__payable {
    justify-content: center;
    position: relative;
  }

  .main-section__payable-cell {
    position: relative;
  }

  .main-section__pictures {
    display: flex;
  }

  .main-section__paypal {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0.563rem;
    top: 0.938rem;
  }

  .main-section__cellphone {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
  }

  .main-section__cellphone-app {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
  }

  .main-section__square {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    left: -3.125rem;
  }

  .main-section__facebook {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    left: -3.125rem;
    bottom: 0;
  }

  .main-section__google {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 6.438rem;
    left: 9.375rem;
  }

  .main-section__mailchimb {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    right: -23.125rem;
  }

  .main-section__jetpack {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    right: -23.125rem;
  }

  .main-section__developer {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
  }

  .main-section__developer-code {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: auto;
    height: auto;
    position: relative;
  }

  .main-section__laptop {
    position: absolute;
    left: -3.125rem;
  }

  .main-section__friends {
    position: absolute;
    left: -3.125rem;
    bottom: 0;
  }

  .main-section__girls {
    position: absolute;
    right: -3.125rem;
    bottom: 3.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__title-main {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 3.438rem;
    line-height: 6.25rem;
    text-align: center;
    color: $dark-purple;
  }

  .main-section__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 89.688rem;
    margin: 0 auto;
  }

  .main-section__payable {
    margin-top: 6.25rem;
  }

  .main-section__paypal {
    width: 50%;
    height: auto;
    top: 2.875rem;
  }

  .main-section__apple {
    display: flex;
    position: absolute;
    top: 2.5rem;
    right: 25.875rem;
  }

  .main-section__cellphone {
    margin-top: 11.25rem;
    margin-left: -3rem;
  }

  .main-section__cellphone-app {
    overflow-y: hidden;
  }

  .main-section__square {
    width: 11.063rem;
    height: 9.563rem;
    top: -2.5rem;
    left: 1.875rem;
  }

  .main-section__facebook {
    width: 11.063rem;
    height: 9.563rem;
    left: 1.875rem;
    bottom: 5rem;
  }

  .main-section__google {
    width: 11.063rem;
    height: 9.563rem;
    left: 7.125rem;
    bottom: -2.5rem;
  }

  .main-section__mailchimb {
    width: 11.063rem;
    height: 9.563rem;
    top: 0.938rem;
    left: 16.063rem;
  }

  .main-section__jetpack {
    width: 11.063rem;
    height: 9.563rem;
    top: 8.125rem;
    left: 11.5rem;
  }

  .main-section__developer {
    margin-top: 17.5rem;
    margin-left: -3rem;
  }

  .main-section__developer-code {
    overflow-y: hidden;
  }

  .main-section__laptop {
    width: auto;
    height: 7.813rem;
    top: -2.063rem;
    left: 0.5rem;
    overflow-y: hidden;
  }

  .main-section__friends {
    width: 11.688rem;
    height: auto;
    top: -1.813rem;
    left: 11.813rem;
  }

  .main-section__girls {
    width: 17.875rem;
    height: auto;
    bottom: -0.375rem;
  }

  .main-section__main-subtitle {
    text-align: left;
    margin-top: 2.938rem;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 4.375rem;
    color: $dark-purple;
  }

  .main-section__span {
    text-align: left;
    margin-top: 0.313rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.875rem;
    color: $light-gray;
  }

  .main-section__link {
    display: flex;
  }

  .main-section__link-social {
    display: inline-block;
    margin-top: 1.938rem;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 2.313rem;
    text-decoration: none;
    color: #299ef3;
  }
}

@media screen and (max-width: 1435px) {
  .main-section__container {
    width: 90%;
  }
}
